    
    <div id="actions">
        @Html.ActionLink("Last opp fil", "Index", "Upload")
        @Html.ActionLink("Legg til beløp", "Insert")
        @Html.ActionLink("Kategorier", "Index", "Category")

    </div>
    